/*Résultats hôtels populaires*/

    /* Titre catégorie "Populaire" */
    .infos_pop{
        display: flex;
        flex-direction:row;
        align-items: center;
        margin-left: 10%;
        justify-content: space-between;
        margin-right:10%;
        margin-top: 15px; 
    }

    /* Icone titre catégorie "Populaire" */
    .infos_pop i{
        color: #0065FC;
    }

    /* Conteneur du bloc "Populaire" - titre + cards */
    .bloc_pop{
        background-color: rgb(242, 242, 242, 0.6);
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        width:30%;
        height: 625px;
    }

    /* Organisation des cards du bloc "Populaire"  */
    .orga_pop{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: -25px;
        
    }

    /* Organisation Cards "Populaire"" */
    .card_pop{
        padding: 5px;
        display: flex;
        flex-direction: row;
        background-color: white;
        box-shadow: 0px 6px 28px 2px rgba(0,0,0,0.2);
        border-radius: 15px;
        margin-top: 5%;
        width: 80%;
        height: 144px;
        overflow:auto;       
    }

    /* Organisation textes + étoiles Cards "Populaire" */
    .contenu_card1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 5px;
        width: 40%;
        margin-left: 10px;
        margin-top: -10px;
        height: 100%;
    }
  
    /*Image illustration pour les Cards "Populaire"*/
    .card_pop img{
        width: 137px;
        height: 144px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        object-fit:cover;
    }
    /* Nom de l'hôtel cards "Populaire" */
    .text_card_pop{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       margin-bottom: 0px;
    }
    /* Prix de la nuit cards "Populaire" */
    .prix{
        margin-top: -30%;   
    }
