
/* Conteneur du bloc "Filtres" */
.box_filters{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    height: 55px;
    width: 90%;
    margin-top: 40px;
}

/* Bloc titre + icône */
.info_filtres{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    font-family: 'Raleway', sans-serif;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Icône de localisation */
.fa-location-dot{
    color: black;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 15px 0px 0px 15px;
}

/* Bloc des cards "Filtres" */
.ligne_filters{
    display: flex;
    flex-direction: row;
}

/* Cards "Filtres" */
.filter{
    border-radius: 50px;
    border: 0.05em solid gray;
    width: auto;
    margin: 15px;
    gap: 0.8em;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-left:10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Comportement des Icônes des cards "Filtres" */
.filter i{
    color: #0065FC;
}

/* Effets clic sur les "Filtres" */
.filter:active{
    background-color: #DEEBFF;
}