
/* Feuille CSS pour le "Formulaire de recherche" */
    /* Titre et sous titre "Formulaire de recherche" */
    .infos{
        font-family: 'Raleway', sans-serif;
        line-height: 1em;
    }
    /* Bloc contenant le "Formulaire de recherche" */
    .search {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 40px;
    }
    /* Boite contenant le formulaire de recherche */
    .formulaire{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 15px 10px 15px 10px;
        margin-top: -10px;
        font-size: 16px;
        margin-left: -20px;
     }
    /* Formulaire de recherche */
    .form_search{
        display: flex;
        flex-direction: row;
        width: 96%;
        margin-left: 0px;
        
    }
    /* Bouton rechercher */
    #bouton_r{
        background-color: #0065FC;
        font-family: 'Raleway', sans-serif;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        font-size: 1em;
        font-weight: 500;
        width: auto;
        height: 45px;
        border: none;
        text-align:center;
        padding-right: 10px;
        padding-left: 10px;
    }
    /*Comportement du texte dans le formulaire de recherche*/
    form [name="Ville"] {
        color:black;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 17px;
        width: 60%;
        padding-left: 5px;
        border:solid 1px rgb(242, 242, 242, 0.8);
        border-right:none;
        border-left: none;
    }
  
    /* Comportement du bouton contenant la localisation directe */
    .bouton_loc{
        background-color:rgb(242, 242, 242, 1);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        color: white;
        font-size: 1em;
        font-weight: 500;
        width: 49px;
        height: 45px;
        border: none;
    }
    /* Comportement icone localisation */
    .fa-location-dot{
        color:black;
    }
    /* Comportement bouton  */
    .bouton_icone {
       display: none;
    }
   
   

    
