/* Feuille CSS pour le "Formulaire de recherche" */

    /* Titre et sous titre "Formulaire de recherche" */
    .infos{
        font-family: 'Raleway', sans-serif;
        line-height: 1em;
    }

    /* Bloc contenant le "Formulaire de recherche" */
    .search {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 40px;
    width: 100%;
    margin-top: 20px;
   
    
    }

    .formulaire{
           
        display: flex;
        flex-direction: row;
        width: 90%;
        padding: 10px;
        
        margin-top: -10px;
        font-size: 16px;
        
         
         
      
     }

    /* Formulaire de recherche */
    .form_search{
        display: flex;
        flex-direction: row;
       
        
       
    }
    
    /* Bouton rechercher */
    #bouton_r{
        background-color: #0065FC;
        font-family: 'Raleway', sans-serif;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        
        font-size: 1em;
        font-weight: 500;
        width: 132px;
        height: 45px;
        border: none;
        text-align:center;
    }


    form [name="Ville"] {
        color:black;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 18px;
        
       
    }

   
