

/* Position et marges du Header en version desktop */

    /* Header */


    body{
        max-width: 1400px;
    margin: auto;
    }


header{
    margin-left: 50px;
        margin-right: 50px;
}

.box_nav{
    margin-left: 50px;
        margin-right: 50px;
}
  
    
/* Position et marges du menu de navigation en version desktop */
    /* Menu de navigation */
 

/* Main */
    /* Maxi conteneur avec le bloc résultats + le bloc populaire + le bloc activités*/
    .contenu_principal{
        font-family: 'Raleway', sans-serif;  
      
    
     
    }
    /* Conteneur du bloc résultats + populaires */
    .pop_search{
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
    }

