/* Icônes */
    /* Étoiles */
    .fa-star {
        display: flex;
        flex-direction: row;
        color: #0065FC;
    }

    #grise{
        color: #F2F2F2;
    }

    .etoiles_1{
        
        display: flex;
       background-color: pink;
       
    }