



header{
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%
}

.box_nav {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
}
/* Main */
    /* Maxi conteneur avec le bloc résultats + le bloc populaire + le bloc activités*/
    .contenu_principal{
        font-family: 'Raleway', sans-serif;
        flex-direction: column;
        align-items: center;
    }
    
    /* Conteneur du bloc résultats + populaires */
    .pop_search{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 40px;
    }

    