
/* Comportement du site en version "Mobile" */
@media screen and (max-width:768px) {


    .box_nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        font-family: 'Raleway', sans-serif;   
        margin-top: 20px;
    }

/* Comportement du bloc Navigation sur Mobile */
    /* Box contenant le logo */
    .box_logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 25px;
    }
    /* Comportement de l'image de logo */
    .box_logo img{
        height: 19px;
    }
    /* Bloc menu "Navigation" */
    .box_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: solid rgb(242, 242, 242, 0.6) 2px;
        width: 100%;
        height: 30px;
        margin-top: 10px;
    }

    .item_menu{
        width: 50%;
    }

    /* Comportement au survol du menu */
    .item_menu:hover{
        border-top:none;
       }
    .box_menu .item_menu:hover{
        color:rgba(0, 101, 252, 1) 2px;
        border-bottom: solid rgba(0, 101, 252, 1) 2px;
        width: 50%;
    }

   


/* Box du Formulaire de recherche sur mobile */
    /* Formulaire de recherche */
    .formulaire{
        display: flex;
        width: 100%; 
        flex-direction: row;
    }

    .form_search{
        width: 100%;
    }
    
    .search{
        height: 55px;
    }

    /* Titre et sous titre "Formulaire de recherche" en version mobile*/
    .infos{
        font-family: 'Raleway', sans-serif;
        margin: 5px;
        line-height: 1.5em;
    }

/* PARTIE FILTRES VERSION MOBILE */
    /* Comportement des "Filtres" en version mobile */
    .box_filters{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
       
    }


    /* Bloc des cards "Filtres" en version mobile */
    .ligne_filters{
        margin-top: -20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        
    }
    .info_filtres{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        gap: 15px;
        width: 100%;
        margin-top: -40px;
        margin-bottom: 5px;
        font-weight: 200;
    }

    .filter{
        gap: 5px;
       
        
    }
   
    .recherche {
       
        width: 100%;
        height: auto;
        order: 2;
        gap: 15px;
        justify-content: space-between;
        padding-bottom: 15px;
        background-color: white;
    }

    .recherche h2{
        margin-left:3%;
    }

    .bloc_search{
     
        display: flex;
        flex-direction: column;
        
    }

    .card_search{
        width: 96%;
    }

    

    /* Afficher plus en version mobile */
   

/* ORGANISATION DU BLOC "POPULAIRE" EN VERSION MOBILE */

    .pop_search{
        display: flex;
        flex-direction: column;
    }
    /* Organisation des cards du bloc "Populaire" en version mobile*/
    .orga_pop{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        height: auto
    }
    /* Organisation Cards "Populaire" en version mobile */
    .card_pop{
        padding: 0.3em;
        display: flex;
        flex-direction: row;
        align-content: center;
        background-color: white;
        box-shadow: 0px 6px 28px 2px rgba(0,0,0,0.2);
        border-radius: 15px;
        margin-top: 5%;
        width: 96%;
        height: 144px;
    }
    .contenu_card1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: -10px;
        height: 100%;
        
        margin-left: 20px;
        width: 70%;
        font-size: 15px;
        overflow:auto;
       
    }

    .contenu_card1 h4{
        color: red;
        font-size: 19px;
    }

    .prix{
        margin-top:0px;
    }

    .bloc_pop{
        
        border-radius: 0px;
        width: 100%;
    

    }

    .pop_search{
        margin-left: 0px;
        margin-right: 0px;}
    /* Organisation textes + étoiles Cards "Populaire" en version mobile */
  
   


/* BLOC ACTIVITES */
.bloc_activites{
    
    width: 100%;
    margin-left: 0%;
}
    /* Titre du bloc Activités */
    .titre_activites{
        width: 50%;
        margin-left: 5%;
        }
    /* Comportement du bloc contenant les cards Activités */
    .ligne_activites{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
      

    }
    /* Composition d'une card pour le bloc Activités */
    .card_activites {
        border-radius: 20px;
        box-shadow: 0px 6px 28px 2px rgba(0,0,0,0.2);
        width: 86%;
        height: 190px;
        margin-bottom: 15px;
        background-color: white;
    }
    /* Images d'illustration pour les cartes activités en version mobile */
    .card_activites img{
        width:100%;
        height: 134px;
        object-fit:cover;
        border-radius: 15px 15px 0px 0px;
    }

/* COMPORTEMENT DU FOOTER EN VERSION MOBILE */
    /* Bloc comportement footer en version mobile */
    .box_footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 96%;
        margin-bottom: 25px;
        margin-left: 5%;
    }
    /* Bloc menu footer en version mobile */
    .menu_footer{
            margin-top: 0px;
            display:flex;
            flex-direction: column;
            line-height: 2em;
    }
    /* Comportement du "Footer" sur mobile */
    footer{
        background-color: #e8e8e8;
        display: flex;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
    }
    #bouton_r {
        display: none;
    }
      /* Comportement du bouton contenant la loupe */
    .bouton_icone{
        display: inline;
        background-color: #0065FC;
        font-family: 'Raleway', sans-serif;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        font-size: 1em;
        font-weight: 500;
        width: 49px;
        height: 49px;
        border: none;
        text-align:center;       
    }
    form [name="Ville"] {
        color:black;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 17px;
        width: 100%;
        padding-left: 5px;
    }
    
    


}
    


