
/*Partie recherche et résultats */
    /* Conteneur de la boite "Recherche"" */
    .recherche {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 65%;
        height: 625px;
        background-color: rgb(242, 242, 242, 0.6);
    }
     /* Titre Hébergements */
     .infos_recherches{ 
        margin-left: 5%;
        margin-top: 15px;
    }
    /* Afficher plus */
    .aplus{
        font-size: 1.2em;
        margin-bottom: 3%;
        margin-left: 5%;
        font-weight: 600;
       
    }

    .aplus a {
        color:black;
        text-decoration: none;
    }

/* CARDS RESULTATS */
    /* Conteneur des cards hébergements */
    .bloc_search{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
        margin-right: 25px;
    }
    /* Card recherche */
    .card_search{ 
        border-radius: 15px;
        padding: 5px;
        background-color: white;
        box-shadow: 0px 6px 28px 2px rgba(0,0,0,0.2);
        line-height: 0.01em;
        width: auto;
        height: 199px;
        margin-bottom: 10%;
        margin-right: 15px;
        margin-left: 15px;
        color:black;
        text-decoration: none;
    }
   /* Comportement des images dans les cards recherche */
    .card_search img{
         width: 100%;
         height: 124px;
         border-top-left-radius: 15px;
         border-top-right-radius: 15px;
         object-fit:cover;
    }