
/*Partie recherche et résultats */
    /* Conteneur de la boite "Recherche"" */
    .recherche {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 65%;
        height: 625px;
        background-color: rgb(242, 242, 242, 0.6);
       
       
    }
     /* Titre Hébergements */
     .infos_recherches{ 
       margin-left: 3%;
    }
    /* Afficher plus */
    .aplus{
        font-size: 1.2em;
       margin-bottom: 20px;
       margin-left: 5%;
       height: 5%;
    }

    .aplus a{
        text-decoration: none;
        color: black;
    }

/* CARDS RESULTATS */
    /* Conteneur des cards hébergements */
    .bloc_search{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 3%;
        margin-right: 3%;
        gap: 15px;
        height: 80%;
       
        align-items: flex-start;
    }

    .infos_recherches{
        height: 15%;
    }
    
    /* Card recherche */
    .card_search{ 
        border-radius: 15px;
        padding: 5px;
        background-color: white;
        box-shadow: 0px 6px 28px 2px rgba(0,0,0,0.2);
        line-height: 0.01em;
        width: auto;
        height: 199px;
        text-decoration: none;
        color:black;
    }
   /* Comportement des images dans les cards recherche */
    .card_search img{
         width: 100%;
         height: 124px;
         border-top-left-radius: 15px;
         border-top-right-radius: 15px;
         object-fit:cover;
    }