
/* MEDIA QUERIES POUR TABLETTE */
@media screen  and (max-width:969px) {
    /* Comportement global en mode tablette */

  
        /* Comportement du menu de navigation en mode tablette */
        .box_nav{
            margin-left: 3%;
            margin-right: 3%;
            width: 100%;
        }
        /* Comportement du header en mode tablette */
        header { 
            margin-left: 3%;
            margin-right: 3%;
        }
        /* Comportement de la box menu en mode tablette */
         .box_menu{
            font-size: 16px;
         }
         /* Comportement du hover sur les items du menu en mode tablette */
         .item_menu:hover{
            border: none;
            color: black;
            padding-top: 0px;
            margin-top: 0px;
        }

        /* Comportement du bloc Populaire + Résultats */
        .pop_search{
            display: flex;
            flex-direction: column; 
            gap: 25px;
        }
        /* Comportement du bloc filters en mode tablette */
        .box_filters{
            width: 100%;
        }
        /* Comportement du titre du bloc filtre en mode tablette */
        .titre_filters{
            font-size: 18px;
        }

    /* Comportement du bloc populaire en version tablette*/
        /* Titre du bloc populaire */
        .infos_pop{
            display: flex;
            flex-direction:row;
            align-items: center;
            margin-left: 5%;
            margin-right:5%;
            justify-content: space-between; 
        }

        /* Bloc populaire : Titre +  en version tablette */
        .bloc_pop{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 15px;
            width:100%;
            height: auto;
            margin-top: 25px;
            margin-right: 5%;
            font-size: 0.9em;
            padding-bottom: 50px;
        }

        /* Comportement de la boite populaire */
        .orga_pop{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-left: 25px;
            margin-right: 25px;
        }

        /* Découpage des textes d'une card Populaire */
        .contenu_card1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 14px;
            width: 70%;
            margin-bottom: 0;
            margin-right: 3px;
            margin-left: 3px;
            height: 100%;
            
        }

        .bloc_texte_pop{
        
            height:90%;
            
        }

        /* Découpage d'une card populaire */
        .card_pop{
            width: 29%;
            height: 144px;
        }
        
        /* Comportement d'une image pour les card populaires */
        .card_pop img {
            width: auto;
            max-width: 106px;
            height: 144px;
        }

        .prix{
            font-size: 14px;
            margin-bottom: -10px;
        }

    /* Comportement du bloc résultats en version tablette */
        /* Bloc résultats en version tablette */
        .recherche {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 625px;
            justify-content: space-around;
        }

        .bloc_search{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            margin-right: 30px;
    }

    /* Comportement du bloc Activités */
        /* Comportement de la boite Activités en mode tablette */
        .ligne_activites{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
        /* Découpage d'une card activité du bloc activités */
        .card_activites {
            border-radius: 20px;
            box-shadow: 0px 6px 28px 2px rgba(0,0,0,0.2);
            width: 22%;
            height: auto;
        }
        /* Comportement du titre dans les cards activités */
   
        /* Comportement des images dans les cards activités */
        .card_activites img{
            width:100%;
            height: 211px;
            object-fit:cover;
            border-radius: 15px 15px 0px 0px;
        }
        .form_search{
            display: flex;
            flex-direction: row;
            width: 60%;
            min-width: 282px;
            height: 49px;
         
            
        }
      
 
}